/*-------Reset--------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------Typo-------*/
.header__container a {
  text-decoration: none;
}

/*-------Mix-------*/
.position-raltive {
  position: relative;
}

/*-------BODY-------*/
/*-------Header-------*/
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 40px;
}

.header__nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__nav__list > li:not(:last-child){
  margin-right: 30px;
}

.dropdown-label:hover ~ .dropdown-list {
  display: block;
}

.dropdown-list {
  width: max-content;
  position: absolute;
  padding: 10px;
  display: none;
}

.dropdown-list > ul {
  list-style: none;
}

.active {
  display: block;
}
